.fullfenetre {
  width: 100%;
  height: 100%;
}

.body {
  margin: none;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
  background-color: black;
  margin: none;
  box-sizing: border-box;
}

form {
  flex-direction: column;
  display: flex;
  background-color: #ecead9;
  padding: 6px;
  margin: -4px;
}

/* .window {
  height: 495px;
  width: 716px;
  position: absolute;
  align-self: center;
  justify-self: center;
} */

.forminput {
  border: 1px solid black;
}

.msnnotif {
  width: 325px;
  cursor: default;
  position: absolute;
  box-shadow: 1px 1px 2px black;
  z-index: 50;

  background-color: #aecad6;
  background-image: linear-gradient(315deg, #9dc2d1 0%, #c1d2ec 74%);
  height: 113px;
  border-radius: 8px;
  right: 10px;
}

.msnheader {
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: space-between;
}

@keyframes slidein {
  from {
    bottom: -120px;
    visibility: hidden;
  }

  to {
    bottom: 45px;
    visibility: visible;
  }
}

.msncontent {
  display: flex;
  margin-left: 10px;
}

.msncontainer {
  display: flex;
  position: absolute;
  /* top: 911px; */
  bottom: 45px;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  animation-duration: 1s;
  animation-name: slidein;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.msncontent_pic {
  height: 60px;
}

.msncontent_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 14px;
  margin-left: 13px;
}


.window {
  width: 762px;
  height: 476px;
  background-color: white;
  transform: translate(0px, 0px);
  position: absolute;

  z-index: 1;
}

.testestest {
  position: absolute;
  align-self: center;
  justify-self: center;
}
.canvas {
  z-index: 1;
  position: absolute;
  margin-top: -49px;
  margin-left: 55px;
}

.basicwindow {
  margin-bottom: 700px;
  margin-right: 600px;
  position: absolute;
}

.trash_picture {
  padding: 12px;
  height: 55px;
  border: dotted 1px black;
}

.pdt_fulldrive {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 160px;
  font-size: 13px;
  margin: 10px;
  flex-direction: column;
}

.pdt_content {
  display: flex;
}

.pdt_drive {
  height: 50px;
  margin-right: 10px;
}

.corbeille_container {
  position: absolute;
  margin-left: 299px;
  margin-top: 241px;
  cursor: default;
}

.cross {
  position: absolute;
  /* top: 19%; */
  margin-bottom: 474px;
  margin-top: 13px;
  margin-left: 678px;
  background-color: black;
  height: 27px;
  opacity: 0;
}

.reduire {
  position: absolute;
  /* top: 19%; */
  margin-top: -440px;
  margin-left: 568px;
  background-color: black;
  height: 27px;
  opacity: 0;
}

.windows_all {
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(https://images2.alphacoders.com/941/thumb-1920-941898.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}

.barremenu {
  background-color: blue;
  width: 110%;
  height: 34px;
  background-color: blue;
  background: linear-gradient(
      to bottom,
      #245edb 0%,
      #3f8cf3 9%,
      #245edb 18%,
      #245edb 92%,
      #333 100%
    )
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 25px;
}
.piccontainermenu {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demarrer {
  width: 160px;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-style: italic;

  background: linear-gradient(
      to bottom,
      #074e09 0%,
      #1d8821 9%,
      #1d8821 18%,
      #07660d 92%,
      #333 100%
    )
    center/cover no-repeat;
  height: 34px;
  color: white;
  font-family: "Segoe UI";
  font-weight: 600;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 2;
  box-shadow: 0.5px 0.5px 1px black;
}

.logoxp {
  height: 28px;
  margin-right: 7px;
  margin-left: 5px;
}

.noselect {
  user-select: none;
}

.fenetre_topbar {
  font-family: Trebuchet MS;
  background: linear-gradient(
    180deg,
    #0997ff,
    #0053ee 8%,
    #0050ee 40%,
    #06f 88%,
    #06f 93%,
    #005bff 95%,
    #003dd7 96%,
    #003dd7
  );
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
  height: 21px;
}

.fenetre_topbar_left {
  margin-left: 9px;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 95px;
}

.fenetre_topbar_image {
  height: 17px;
}

.fullscreenwindow {
  height: 100%;
  width: 100%;
}

.title-bar-text {
  padding-left: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
}

.fenetre_content {
  background-color: white;
  height: 100%;
  border: 3px solid #0056ea;
  border-top: none;
}

.fenetre_topbar_but {
  height: 22px;
  width: 22px;
  border: 2px solid white;
  border-radius: 4px;
  background: linear-gradient(
      to bottom,
      #245edb 0%,
      #3f8cf3 9%,
      #5f80c7 18%,
      #245edb 92%,
      #333 100%
    )
    center/cover no-repeat;
}

.fenetre_topbar_buttons {
  margin-right: 6px;
  display: flex;
  width: 88px;
  justify-content: space-around;
  align-items: center;
}

.fenetre {
  background-color: white;
  height: 350px;
  width: 560px;
  position: absolute;
  top: 304px;
  left: 621px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  flex-direction: column;
}

.taskbarlogo {
  height: 15px;
  margin-right: 6px;
}

.classbar {
  background: white;
  cursor: default;
  min-width: 155px;
  font-family: Tahoma;
  margin: 1px;
  left: 517px;
  padding: 3px;
  height: 20px;
  background: linear-gradient(
      to bottom,
      #006edd 0%,
      #3f84ec 9%,
      #2f88ef 18%,
      #0f86e2 92%,
      #333 100%
    )
    center/cover no-repeat;
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 7px;
  font-weight: 100;
  box-shadow: 0px 0px 1px black;
}

.horloge {
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(29, 102, 131);
  height: 34px;
  padding-right: 10px;
  background: linear-gradient(
      to bottom,
      #006edd 0%,
      #26cddc 9%,
      #42a1bb 18%,
      #0f86e2 92%,
      #333 100%
    )
    center/cover no-repeat;
  font-size: 13px;
  z-index: 1;
}

.scrollcv {
  height: 650px;
  overflow: scroll;
  overflow-x: hidden;
}

.icone {
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 62px;
  padding: 4px;
  /* margin-bottom: 4px; */
}

.icone_logo {
  height: 40px;
}

.icone_selected {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #708bce;
  opacity: 0.8;
  padding: 4px;
  width: 62px;
  /* margin-bottom: 4px; */
  border: dotted 1px white;
}

.trashcontainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 65px;
  z-index: 0;
  height: 77px;

  color: white;
}

.menuderoule_header {
  background: linear-gradient(
      to bottom,
      #98b0e7 0%,
      #2e81ec 5%,
      #2174e0 10%,
      #0759c5 18%,
      #4778e0 92%,
      #678fe4 100%
    )
    center/cover no-repeat;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 2px 2px 4px black;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.menuderoule {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 520px;
  cursor: default;
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  box-shadow: 1px 1px 2px black;
  z-index: 50;
}

.menuderoule_container {
  display: flex;
  position: absolute;
  /* top: 911px; */
  bottom: 34px;
  height: 100%;
}

.profilepic {
  height: 65px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 7px;
  box-shadow: 2px 2px 4px black;
}

.menuderoule_middle {
  display: flex;
  height: 544px;
}

.menuderoule_leftpart {
  background-color: white;
  width: 50%;
  height: 100%;
  border-right: 0.01em solid #c2c0f8;
}

.menuderoule_rightpart {
  background-color: #d3e4fb;
  width: 50%;
  height: 100%;
  border-right-color: blue;
}

.menuderoule_footer {
  background-color: blue;
  background: linear-gradient(
      to bottom,
      #98b0e7 0%,
      #2e81ec 5%,
      #2174e0 10%,
      #0759c5 18%,
      #4075e9 92%,
      #678fe4 100%
    )
    center/cover no-repeat;
  height: 60px;
  position: relative;
}

.menuderoule_items {
  display: flex;
  margin: 15px 10px;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  height: 40px;
  padding: 4px;
}

.trashh {
  padding: 4px;
}

.trashhh {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #708bce;
  opacity: 0.8;
  padding: 4px;
  /* margin-bottom: 4px; */
  border: dotted 1px white;
}

.trashh:target {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #708bce;
  opacity: 0.8;
  padding: 4px;
  /* margin-bottom: 4px; */
  border: dotted 1px white;
}

.menuderoule_items_topright {
  display: flex;
  margin: 8px 3px;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  height: 40px;
  padding: 4px;
  width: 245px;
}

.menuderoule_items_pic {
  height: 45px;
}

.menuderoule_items_picsmall {
  height: 40px;
}

.demarrer:hover {
  background: linear-gradient(
      to bottom,
      #074e09 0%,
      #1d8821 9%,
      #18c91e 18%,
      #07660d 92%,
      #333 100%
    )
    center/cover no-repeat;
}

.menuderoule_items_text {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  margin-left: 10px;
  font-size: 15px;
  font-family: Tahoma;
  justify-content: center;
}

.menuderoule_items_text_righttop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0px;
  font-size: 13px;
  font-family: Tahoma;
  justify-content: center;
  font-weight: 700;
}

.menuderoule_items:hover {
  background-color: #2b6ac7;
  color: white;
}

.menuderoule_items_topright:hover {
  background-color: #2b6ac7;
  color: white;
}

.menuderoule_items_singletext {
  margin: 0;
}

.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}

.fade_rule {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: #e6e6e6;
  width: 90%;

  background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -o-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -moz-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -webkit-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -ms-linear-gradient(
    left,
    white 10%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, white),
    color-stop(0.5, gray),
    color-stop(0.98, white)
  );
}

.fade_rule2 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: #d3e4fb;
  width: 90%;

  background-image: linear-gradient(left, #d3e4fb 2%, #e6e6e6 50%, #d3e4fb 98%);
  background-image: -o-linear-gradient(
    left,
    #d3e4fb 2%,
    #e6e6e6 50%,
    #d3e4fb 98%
  );
  background-image: -moz-linear-gradient(
    left,
    #d3e4fb 2%,
    #e6e6e6 50%,
    #d3e4fb 98%
  );
  background-image: -webkit-linear-gradient(
    left,
    #d3e4fb 2%,
    #e6e6e6 50%,
    #d3e4fb 98%
  );
  background-image: -ms-linear-gradient(
    left,
    #d3e4fb 10%,
    #e6e6e6 50%,
    #d3e4fb 98%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, #d3e4fb),
    color-stop(0.5, gray),
    color-stop(0.98, #d3e4fb)
  );
}
