html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

.fullfenetre {
  width: 100%;
  height: 100%;
}

body {
  margin: none;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Tahoma;
  font-size: 13px;
}

.full_bottom {
  display: flex;
  position: absolute;
  width: 100%;
  align-self: flex-end;
  justify-content: flex-end;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
  background-color: white;
  margin: none;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;

  justify-content: center;
}

.start-btn {
  position: absolute;
  /* right: 80px; */
  margin-left: 69vh;
  z-index: 999;
  height: 8vh;
  margin-top: 26vh;
  opacity: 0;
  cursor: pointer;
}
.blink_me {
  animation: blinker 0.5s ease infinite;
  color: orange;
  font-size: 4vh;
  position: absolute;
  margin-left: 68.75vh;
  z-index: 999;
  /* height: 28vh; */
  margin-right: 0vh;
  margin-top: 10.4vh;
  margin-bottom: 0vh;
}

.blink_me2 {
  animation: blinker2 0.5s ease infinite;
  color: greenyellow;
  font-size: 4vh;
  position: absolute;
  /* right: 80px; */
  margin-left: 68.75vh;
  z-index: 999;
  /* height: 8vh; */
  margin-top: 5.7vh;
  margin-right: 0vh;
}

.blink_me3 {
  animation: blinker2 0.5s ease infinite;
  color: rgb(100, 211, 124);
  font-size: 4vh;
  position: absolute;
  /* right: 80px; */
  margin-left: 20.25vh;
  z-index: 999;
  /* height: 8.2vh; */
  margin-top: 26.3vh;
  margin-bottom: 0vh;
  margin-right: 0vh;
}

.indicationdem {
  position: absolute;
  color: black;
  z-index: 8;
  margin-top: 25vh;
  margin-left: 118vh;
  border: 4px solid black;
  padding: 10px;
  font-size: 2vh;
  font-weight: 800;
  width: 12vh;
  text-align: center;
}

.arrow {
  animation: moving 1s ease infinite;
  position: absolute;
  color: black;
  z-index: 9;
  /* margin-top: 27vh; */
  /* margin-left: 46vh; */
  padding: 10px;
  top: 58%;
  width: 8vh;
  left: 47%;
}

@keyframes moving {
  0% {
    margin-left: 46vh;
  }

  50% {
    margin-left: 42vh;
  }

  100% {
    margin-left: 46vh;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker2 {
  50% {
    opacity: 0.9;
  }
}

.photopc {
  height: 100vh;
  z-index: 2;
}

.bios {
  position: absolute;
  z-index: 1;
  height: 32vh;
  margin-top: -9vh;
  width: 42vh;
  margin-left: -10vh;
}

@-moz-document url-prefix() {
  .bios {
    position: absolute;
    z-index: 1;
    height: 32vh;
    margin-top: -18vh;
    width: 42vh;
    margin-left: -19vh;
  }
}

.eteint {
  background-color: black;
  position: absolute;
  z-index: 1;
  height: 36vh;
  margin-top: -18vh;
  width: 46vh;
  margin-left: -20vh;
}

.xploading {
  position: absolute;
  z-index: 1;
  height: 30vh;
  margin-top: -9vh;
  width: 46vh;
  margin-left: -10vh;
}

@-moz-document url-prefix() {
  .xploading {
    position: absolute;
    z-index: 1;
    height: 30vh;
    margin-top: -18vh;
    width: 46vh;
    margin-left: -19vh;
  }
}

.popup_number {
  font-size: 35px;
  margin-top: 10px;
  text-shadow: 1px 1px 2px black;
  margin-right: 24px;
}

.popup_title {
  font-size: 38px;
  width: 50%;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 70px;
  font-family: "Pixelated MS Sans Serif";
  text-shadow: 1px 1px 2px black;
  https: //s3.amazonaws.com/viking_education/mktg/man-at-computer-small.jpg;;
  margin-right: 22px;
}

.popup_content {
  font-size: 33px;
  font-weight: 800;
  margin-right: 24px;
  text-align: right;
  width: 45%;

  text-shadow: 1px 1px 2px black;
}

.popup_inside {
  justify-content: center;
  width: 98%;
  height: 98%;
  background-image: url(https://s3.amazonaws.com/viking_education/mktg/man-at-computer-small.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

.popup {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, red 50%, transparent 50%),
    linear-gradient(90deg, red 50%, transparent 50%),
    linear-gradient(0deg, red 50%, transparent 50%),
    linear-gradient(0deg, red 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 8px 4px, 8px 4px, 4px 8px, 4px 8px;
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;

  animation: dash 5s linear infinite;
  background-color: #d79beb;
}

.popupinside {
  height: 93%;
  width: 96%;
  background: linear-gradient(90deg, red 50%, transparent 50%),
    linear-gradient(90deg, red 50%, transparent 50%),
    linear-gradient(0deg, red 50%, transparent 50%),
    linear-gradient(0deg, red 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 8px 4px, 8px 4px, 4px 8px, 4px 8px;
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
  border-radius: 8px;
  padding: 10px;
  animation: dash2 10s linear infinite;
}

@keyframes dash {
  to {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}

@keyframes dash2 {
  to {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}

.input_container {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  flex-direction: column;
  display: flex;
  background-color: #ecead9;
  height: 100%;
  width: 100%;
}

/* .window {
  height: 495px;
  width: 716px;
  position: absolute;
  align-self: center;
  justify-self: center;
} */
.window-body {
  margin: 0;
  width: 100%;
  height: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labelform {
  width: 40px;
  margin-right: 8px;
}

.msnnotif {
  width: 325px;
  cursor: default;
  position: absolute;
  box-shadow: 1px 1px 2px black;
  z-index: 50;

  background-color: #aecad6;
  background-image: linear-gradient(315deg, #9dc2d1 0%, #c1d2ec 74%);
  height: 113px;
  border-radius: 8px;
  right: 10px;
}

.msnheader {
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: space-between;
}

@keyframes slidein {
  from {
    bottom: -120px;
    visibility: hidden;
  }

  to {
    bottom: 45px;
    visibility: visible;
  }
}

.msncontent {
  display: flex;
  margin-left: 10px;
}

.msncontainer {
  display: flex;
  position: absolute;
  /* top: 911px; */
  bottom: 45px;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  animation-duration: 1s;
  animation-name: slidein;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.msncontent_pic {
  height: 60px;
}

.msncontent_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 14px;
  margin-left: 13px;
}

.window {
  width: 762px;
  height: 476px;
  background-color: white;
  transform: translate(0px, 0px);
  position: absolute;

  z-index: 1;
}

.testestest {
  position: absolute;
  align-self: center;
  justify-self: center;
}
.canvas {
  z-index: 1;
  position: absolute;
  margin-top: -49px;
  margin-left: 55px;
}

.basicwindow {
  width: 500px;
  height: 450px;
  position: absolute;
}

.mesimages_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 160px;
  font-size: 13px;
  margin: 30px;
  flex-direction: column;
}

.trash_picture {
  padding: 12px;
  height: 55px;
  border: dotted 1px black;
}

.pdt_fulldrive {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  font-size: 13px;
  margin: 10px;
  flex-direction: column;
}

.pdt_fulldrive2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70px;
  font-size: 13px;
  margin: 15px;
  flex-direction: column;
  padding: 10px;
}

.pdt_fulldrive_projets {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  font-size: 13px;
  margin: 10px;
}

.projets_headbar {
  display: flex;
  width: 100%;

  background-color: #f8efe8;
  height: 24px;
  align-items: center;

  box-shadow: 0px 0px 1px black;
}

.pdt_content {
  display: flex;
  /* align-self: flex-start; */
  width: 100%;
  /* max-width: 50px; */
  /* height: 100%; */
  flex-wrap: wrap;
}

.pdt_content_projets {
  display: flex;
  flex-direction: column;
}

.pdt_content2 {
  display: flex;
  /* align-self: flex-start; */
  width: 100%;
  margin-left: 30px;
  /* max-width: 50px; */
  /* height: 100%; */
  flex-wrap: wrap;
}

.ReactPiano__Keyboard {
  width: 100%;
}

.pdt_drive {
  height: 50px;
}

.pdt_drive2 {
  height: 50px;
}

.pdt_drive_projets {
  height: 25px;
  margin-right: 7px;
}

.pdt_drive3 {
  height: 40px;
  margin-right: 10px;
}

.pdt_drive2:active {
  height: 60vh;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.corbeille_container {
  position: absolute;
  margin-left: 299px;
  margin-top: 241px;
  cursor: default;
}

.cross {
  position: absolute;
  /* top: 19%; */
  margin-bottom: 474px;
  margin-top: 13px;
  margin-left: 678px;
  background-color: black;
  height: 27px;
  opacity: 0;
}

.reduire {
  position: absolute;
  /* top: 19%; */
  margin-top: -440px;
  margin-left: 568px;
  background-color: black;
  height: 27px;
  opacity: 0;
}

.windows_all {
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(https://images2.alphacoders.com/941/thumb-1920-941898.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}

.barremenu {
  background-color: blue;
  width: 110%;
  height: 34px;
  background-color: blue;
  background: linear-gradient(
      to bottom,
      #245edb 0%,
      #3f8cf3 9%,
      #245edb 18%,
      #245edb 92%,
      #333 100%
    )
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 25px;
}
.piccontainermenu {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demarrer {
  width: 160px;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-style: italic;

  background: linear-gradient(
      to bottom,
      #074e09 0%,
      #1d8821 9%,
      #1d8821 18%,
      #07660d 92%,
      #333 100%
    )
    center/cover no-repeat;
  height: 34px;
  color: white;
  font-family: "Tahoma";
  font-weight: 700;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 2;
  box-shadow: 0.5px 0.5px 1px black;
}

.demarreren {
  width: 110px;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-style: italic;

  background: linear-gradient(
      to bottom,
      #074e09 0%,
      #1d8821 9%,
      #1d8821 18%,
      #07660d 92%,
      #333 100%
    )
    center/cover no-repeat;
  height: 34px;
  color: white;
  font-family: "Tahoma";
  font-weight: 700;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 2;
  box-shadow: 0.5px 0.5px 1px black;
}

.demarreren:hover {
  background: linear-gradient(
      to bottom,
      #337d35 0%,
      #1d8821 9%,
      #2a9e2e 18%,
      #4a904f 92%,
      #333 100%
    )
    center/cover no-repeat;
}
.logoxp {
  height: 28px;
  margin-right: 7px;
  margin-left: 5px;
}

.noselect {
  user-select: none;
}

.fenetre_topbar {
  background: linear-gradient(
    180deg,
    #0997ff,
    #0053ee 8%,
    #0050ee 40%,
    #06f 88%,
    #06f 93%,
    #005bff 95%,
    #003dd7 96%,
    #003dd7
  );
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
  height: 21px;
}

.fenetre_topbar_left {
  margin-left: 9px;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 95px;
}

.fenetre_topbar_image {
  height: 17px;
}

.fullscreenwindow {
  height: 100%;
  width: 100%;
}

.window_container {
  height: 618px;
  width: 864px;
  position: absolute;
  z-index: 1;
}

.window_elements {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.window_container_fullscreen {
  height: 96%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.fadeInUp {
  width: 100%;
  height: 100%;
}

.window_basic {
  width: 100%;
  height: 100%;
  position: inherit;
}

.window_content {
  background-color: white;
  height: 100%;

  border: 2px solid blue;
}
.textewindowtopbar {
  margin-left: 7px;
}

.title-bar-text {
  padding-left: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  margin-left: 3px;
}
.bureau {
  position: absolute;
  z-index: 1;
  height: 36vh;
  margin-top: -9vh;
  width: 46vh;
  margin-left: -10vh;
}

@-moz-document url-prefix() {
  .bureau {
    position: absolute;
    z-index: 1;
    height: 36vh;
    margin-top: -18vh;
    width: 46vh;
    margin-left: -20vh;
  }
}

.fenetre_content {
  background-color: white;
  height: 100%;
  border: 3px solid #0056ea;
  border-top: none;
}

.fenetre_topbar_but {
  height: 22px;
  width: 22px;
  border: 2px solid white;
  border-radius: 4px;
  background: linear-gradient(
      to bottom,
      #245edb 0%,
      #3f8cf3 9%,
      #5f80c7 18%,
      #245edb 92%,
      #333 100%
    )
    center/cover no-repeat;
}

.fenetre_topbar_buttons {
  margin-right: 6px;
  display: flex;
  width: 88px;
  justify-content: space-around;
  align-items: center;
}

.fenetre {
  background-color: white;
  height: 350px;
  width: 560px;
  position: absolute;
  top: 304px;
  left: 621px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  flex-direction: column;
}

.taskbarlogo {
  height: 15px;
  margin-right: 6px;
}

.classbar {
  background: white;
  cursor: default;
  min-width: 155px;
  font-family: Tahoma;
  margin: 1px;
  left: 517px;
  padding: 3px;
  height: 20px;
  background: linear-gradient(
      to bottom,
      #006edd 0%,
      #3f84ec 9%,
      #2f88ef 18%,
      #0f86e2 92%,
      #333 100%
    )
    center/cover no-repeat;
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 7px;
  font-weight: 100;
  box-shadow: 0px 0px 1px black;
}

.langmenu {
  position: absolute;
  bottom: 43px;
  /* text-align: right; */
  display: flex;
  flex-direction: column;
  right: 94px;
  color: black;
  background-color: white;
  height: 73px;
  width: 60px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
}

.langmenuitem {
  width: 100%;
  text-align: center;
  height: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.langmenuchose {
  color: white;
  cursor: pointer;
}

.langmenuitem:hover {
  background-color: lightblue;
}

.horloge {
  width: 215px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(29, 102, 131);
  height: 34px;
  padding-right: 10px;
  background: linear-gradient(
      to bottom,
      #006edd 0%,
      #26cddc 9%,
      #42a1bb 18%,
      #0f86e2 92%,
      #333 100%
    )
    center/cover no-repeat;
  font-size: 13px;
  z-index: 1;
}

.scrollcv {
  height: 95%;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.icone {
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 4px;
  justify-content: space-around;
  height: 100%;
}

.icone_logo {
  height: 40px;
}

.icone_selected {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #708bce;
  opacity: 0.8;
  padding: 4px;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  /* margin-bottom: 4px; */
  border: dotted 1px white;
}

.trashcontainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* align-self: center; */
  /* justify-self: center; */
  width: 69px;
  z-index: 0;
  align-items: center;
  height: 84px;
  color: white;
}

.menuderoule_header {
  background: linear-gradient(
      to bottom,
      #98b0e7 0%,
      #2e81ec 5%,
      #2174e0 10%,
      #0759c5 18%,
      #4778e0 92%,
      #678fe4 100%
    )
    center/cover no-repeat;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 400;
  text-shadow: 2px 2px 4px black;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.menuderoule {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 505px;
  cursor: default;
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  box-shadow: 1px 1px 2px black;
  z-index: -2;
  margin-bottom: 140px;
  height: 560px;
  /* max-height: 591px; */
  /* min-height: 540px; */
  z-index: 1;
}

.menuderoule_container {
  display: flex;
  position: absolute;
}

.profilepic {
  height: 65px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 7px;
  box-shadow: 2px 2px 4px black;
}

.menuderoule_middle {
  display: flex;
  height: 95%;
}

.menuderoule_leftpart {
  background-color: white;
  width: 50%;
  height: 100%;
  border-right: 0.01em solid #c2c0f8;
}

.menuderoule_rightpart {
  background-color: #d3e4fb;
  width: 50%;
  height: 100%;
  border-right-color: blue;
}

.menuderoule_footer {
  background: linear-gradient(
      to bottom,
      #98b0e7 0%,
      #2e81ec 5%,
      #2174e0 10%,
      #0759c5 18%,
      #4075e9 92%,
      #678fe4 100%
    )
    center/cover no-repeat;
  height: 9%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer_element {
  width: 80px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 13px;
  justify-content: space-evenly;
  margin-right: 10px;
  cursor: pointer;
}

.footer_element_en {
  width: 105px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 13px;
  justify-content: space-evenly;
  margin-right: 10px;
  cursor: pointer;
}



.frenchflag {
  position: absolute;
  margin-left: 52vh;
  z-index: 999;
  height: 4vh;
  width: 6vh;
  margin-top: -8vh;
  cursor: pointer;
  color: black;
}

.frenchflag_selected {
  position: absolute;
  margin-left: 52vh;
  z-index: 999;
  height: 4vh;
  width: 6vh;
  margin-top: -8vh;
  cursor: pointer;
  color: black;
  border: 2px solid black;
  padding: 5px;
}

.aboutme_title {
  font-size: 2em;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 18px;
}

.aboutme {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme hr {
  width: 80%;
}

.aboutme p {
  width: 80%;
  text-align: justify;
  font-size: 15px;
  font-family: 'Roboto';
}


.englishflag {
  position: absolute;
  margin-left: 52vh;
  z-index: 999;
  height: 4vh;
  width: 6vh;
  margin-top: -2vh;
  cursor: pointer;
  color: black;
}



.englishflag_selected {
  position: absolute;
  margin-left: 52vh;
  z-index: 999;
  height: 4vh;
  width: 6vh;
  margin-top: -3vh;
  cursor: pointer;
  color: black;
  border: 2px solid black;
  padding: 5px;
}

.footer_element2 {
  width: 140px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 13px;
  justify-content: space-evenly;
  margin-right: 10px;
}

.footer_element2_en {
  width: 100px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 13px;
  justify-content: space-evenly;
  margin-right: 10px;
}

.footer_image {
  height: 26px;
  border-radius: 6px;
  border: 1px solid white;
}

.menuderoule_items {
  display: flex;
  margin: 15px 10px;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  height: 40px;
  padding: 6px;
}

.trashh {
  padding: 4px;
}

.trashhh {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #708bce;
  opacity: 0.8;
  padding: 4px;
  /* margin-bottom: 4px; */
  border: dotted 1px white;
}

.trashh:target {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #708bce;
  opacity: 0.8;
  padding: 4px;
  /* margin-bottom: 4px; */
  border: dotted 1px white;
}

.menuderoule_items_topright {
  display: flex;
  margin: 8px 3px;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  height: 46px;
  padding: 1px;
  width: 245px;
}

.menuderoule_items_pic {
  height: 45px;
}

.menuderoule_items_picsmall {
  height: 40px;
}

.demarrer:hover {
  background: linear-gradient(
      to bottom,
      #074e09 0%,
      #1d8821 9%,
      #18c91e 18%,
      #07660d 92%,
      #333 100%
    )
    center/cover no-repeat;
}

.menuderoule_items_text {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  margin-left: 10px;
  font-size: 15px;
  font-family: Tahoma;
  justify-content: center;
}

.menuderoule_items_text_righttop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0px;
  font-size: 13px;
  font-family: Tahoma;
  justify-content: center;
  font-weight: 700;
}

.menuderoule_items:hover {
  background-color: #2b6ac7;
  color: white;
}

.menuderoule_items_topright:hover {
  background-color: #2b6ac7;
  color: white;
}

.menuderoule_items_singletext {
  margin: 0;
}

.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}

.title-bar {
  font-family: Tahoma;
}

.fade_rule {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: #e6e6e6;
  width: 90%;

  background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -o-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -moz-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -webkit-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -ms-linear-gradient(
    left,
    white 10%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, white),
    color-stop(0.5, gray),
    color-stop(0.98, white)
  );
}

.fade_rule2 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: #d3e4fb;
  width: 90%;

  background-image: linear-gradient(left, #d3e4fb 2%, #e6e6e6 50%, #d3e4fb 98%);
  background-image: -o-linear-gradient(
    left,
    #d3e4fb 2%,
    #e6e6e6 50%,
    #d3e4fb 98%
  );
  background-image: -moz-linear-gradient(
    left,
    #d3e4fb 2%,
    #e6e6e6 50%,
    #d3e4fb 98%
  );
  background-image: -webkit-linear-gradient(
    left,
    #d3e4fb 2%,
    #e6e6e6 50%,
    #d3e4fb 98%
  );
  background-image: -ms-linear-gradient(
    left,
    #d3e4fb 10%,
    #e6e6e6 50%,
    #d3e4fb 98%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, #d3e4fb),
    color-stop(0.5, gray),
    color-stop(0.98, #d3e4fb)
  );
}
