.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg {
  width: 800px;
  height: 600px;
  background-image: url("https://images2.alphacoders.com/941/thumb-1920-941898.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.corbeille {
  height: auto;
  width: 30px;
}

.corcontainer {
  position: relative;
  top: 500px;
  left: 300px;
  color: white;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.startmenu {
  background-color: blue;
  width: 800px;
  background-color: blue;
  background: linear-gradient(
      to bottom,
      #245edb 0%,
      #3f8cf3 9%,
      #245edb 18%,
      #245edb 92%,
      #333 100%
    )
    center/cover no-repeat;
  display: flex;
  align-items: center;
}

.logostart {
  height: 20px;
  background-color: none;
}

.dem {
  margin-left: 10px;
  height: 30px;
  padding: 0;
  margin: 0;
  background-color: green;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: italic;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 0px black;
}

.demarrer {
  margin: 5px;
  font-weight: 500;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
